<div *ngIf="content">
    <h2>{{content.title}} details!</h2>
    <div>
        <label>Title: </label>
        <input [(ngModel)]="content.title" placeholder="name" /> 
        <br>
        <label>Content: </label>
        <input [(ngModel)]="content.content" placeholder="name" /> 
        <br>
        <p><span>Separate each tag with a comma</span></p>
        <label>Tags: </label>
        <input [(ngModel)]="content.tags" placeholder="name" /> 
        <br>
    </div>
    <button (click)="goBack()">go back</button>
    <button (click)="save()">Save</button>
</div>

