<div *ngIf="loading">
    Loading...
</div>
<div *ngIf="searchListings">
    <div class="pull-left">
        <h2>Search listings</h2>
    </div>
    <div class="pull-right">
        <br>
        <button type="button" class="btn btn-default" (click)="goBack()">Go back</button>
    </div>


    <table class="table table-striped table-bordered">
        <tr *ngFor="let content of searchListings">
            <td>
                <h5> {{ content.title }} </h5>
                <p>
                    {{ content.content }}
                </p>
                <div>
                    <button type="button" class="btn btn-primary" *ngFor="let tag of content.tags">
                        {{ tag }}
                    </button>

                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-default" (click)="viewContent(content)">View Content</button>
                </div>
            </td>
        </tr>
    </table>
</div>