<div *ngIf="loading">
  Loading...
</div>
<div *ngIf="favorites">

  <div class="pull-left">
    <h2>Saved searches</h2>
  </div>
  <div class="pull-right">
    <br>
    <button type="button" class="btn btn-default" (click)="createFavorite()">Create favorite</button>
  </div>

  <table class="table table-striped table-bordered">
    <tr *ngFor="let favorite of favorites">
      <td>
        <div class="" *ngFor="let tag of favorite.tags.split(',')">
          <p> {{tag }} search</p>
        </div>
      </td>
      <td>
        <div class="">
          <a (click)="gotoSearchListings(favorite.tags)">View result</a>
        </div>
      </td>
    </tr>
  </table>
</div>